@charset "utf-8";
body {background:cornsilk;}
main {
    width:80%;
    max-width:800px;
    margin:auto;
    background:#fffff1;
    padding:10px
}
nav ul{padding:0;}
nav ul li {display:inline-block;padding:5px;background:chocolate;}
nav ul li:hover {background:crimson;}

nav ul li a{color:white; text-decoration: none;}
nav button {display:inline-block;}

section {
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-gap:3px
}
section p {
   padding:0;
   margin:0;
    text-align:right;
    padding-right:10px;
    
}